@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');

:root{
    font-family: 'Orbitron', sans-serif;  
}

span{
    font-weight: bold;
}

h1{
    font-size: 50px;
    letter-spacing: 10px;
    text-align: center;
    text-transform: uppercase;
    text-decoration:underline;
}

.series-movies{
    font-size: 20px;
}

div h2{
    font-size: 2.5em;
}

li{
    line-height: 2;
}

.characters{
    font-size: 18px;
}

/* Bonus */

h4{
    letter-spacing: 15px;
    font-family: 'Press Start 2P', cursive;
}

h3,h4,h2{
    text-align: center;
}

li{
    font-size: 1rem;
}

body{
    background-image: url(starTrek.jpg);
    color: rgba(255, 255, 255, 0.6);
    background-position: center;
    background-size: cover;
}



